@{
    ViewData["Title"] = "Dashboard";
}

<br/>
<div class="row">
    <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 1-->
        <div class="col-lg-12">
            <div class="card text-center" style="height:525px">
                <div class="card-body">
                    <h4>Products</h4>
                    <img src="~/Images/products.jpg" width="300" class="rounded-2" />
                    <div> <br /> </div>
                    <p class="card-text text-secondary text-bold">View all store products.</p>
                    <button type="button" onclick="location.href = '@Url.Action("ViewProducts", "DeptEmployee")'" class="btn btn btn-outline-dark btn-xl">View</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 2-->
        <div class="col-lg-12">
            <div class="card text-center" style="height:525px">
                <div class="card-body">
                    <h4>New Purchase Request</h4>
                    <img src="~/Images/purchase.png" width="300" class="rounded-2" />
                    <div> <br /> </div>
                    <p class="card-text text-secondary text-bold">Create purchase request for a department.</p>
                    <button type="button" onclick="location.href = '@Url.Action("PRDepartments", "DeptEmployee")'" class="btn btn-outline-dark btn-xl">View</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 3-->
        <div class="col-lg-12">
            <div class="card text-center" style="height:525px">
                <div class="card-body">
                    <h4>Purchase Request Status</h4>
                    <img src="~/Images/PRhistory.jpeg" width="300" class="rounded-2" />
                    <div> <br /> </div>
                    <p class="card-text text-secondary text-bold">View purchase request status.</p>
                    <button type="button" onclick="location.href = '@Url.Action("PRHistoryDepartments", "DeptEmployee")'" class="btn btn-outline-dark btn-xl">View</button>
                </div>
            </div>
        </div>
    </div>
</div>
